In [1]:
import numpy as np
import csv,json
import pandas as pd

In [2]:
## Preparing DJIA data
# Reading DJIA index prices csv file

with open('djia.csv', 'r') as csvfile:
    spamreader = csv.reader(csvfile, delimiter=',')
    # Converting the csv file reader to a lists 
    data_list = list(spamreader)

In [3]:
# Separating header from the data
header = data_list[0] 
data_list = data_list[1:] 

data_list=np.asarray(data_list)
data_list

array([['2008-08-18', '11659.650391', '11690.429688', ...,
        '11479.389648', '11479.389648', '156290000'],
       ['2008-08-19', '11478.089844', '11478.169922', ...,
        '11348.549805', '11348.549805', '171580000'],
       ['2008-08-20', '11345.940430', '11454.150391', ...,
        '11417.429688', '11417.429688', '144880000'],
       ...,
       ['2018-08-13', '25327.189453', '25381.390625', ...,
        '25187.699219', '25187.699219', '219990000'],
       ['2018-08-14', '25215.689453', '25339.509766', ...,
        '25299.919922', '25299.919922', '219210000'],
       ['2018-08-15', '25235.369141', '25235.369141', ...,
        '25162.410156', '25162.410156', '295810000']], dtype='<U12')

In [4]:
# Selecting date and close value for each day
selected_data = data_list[:, [0, 5, 6]]
selected_data

array([['2008-08-18', '11479.389648', '156290000'],
       ['2008-08-19', '11348.549805', '171580000'],
       ['2008-08-20', '11417.429688', '144880000'],
       ...,
       ['2018-08-13', '25187.699219', '219990000'],
       ['2018-08-14', '25299.919922', '219210000'],
       ['2018-08-15', '25162.410156', '295810000']], dtype='<U12')

In [5]:
df = pd.DataFrame(data=selected_data[0:,1:],
             index=selected_data[0:,0],
                                columns=['close', 'adj close'],
                                        dtype='float64')
df.head()

                   close    adj close
2008-08-18  11479.389648  156290000.0
2008-08-19  11348.549805  171580000.0
2008-08-20  11417.429688  144880000.0
2008-08-21  11430.209961  130020000.0
2008-08-22  11628.059570  138790000.0

In [6]:
# df1 = df
# idx = pd.date_range('08-20-2008', '08-15-2018')
# df1.index = pd.DatetimeIndex(df1.index)
# df1 = df1.reindex(idx, fill_value=np.NaN)
# # df1.count() # gives 2518 count
# interpolated_df = df1.interpolate()
# interpolated_df.count() # gives 3651 count

# # Removing extra date rows added in data for calculating interpolation
# interpolated_df = interpolated_df[3:]

***Preparing NYTimes Data***

In [7]:
date_format = ["%Y-%m-%dT%H:%M:%SZ", "%Y-%m-%dT%H:%M:%S+%f"]

In [8]:
def try_parsing_date(text):
    for fmt in date_format:
        try:
            return datetime.strptime(text, fmt).strftime('%Y-%m-%d')
        except ValueError:
            pass
    raise ValueError('no valid date format found')

In [9]:
years = [2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007]
months = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [10]:
dict_keys = ['pub_date', 'headline']

In [11]:
articles_dict = dict.fromkeys(dict_keys)

In [12]:
# Filtering list for type_of_material
type_of_material_list = ['blog', 'brief', 'news', 'editorial', 'op-ed', 'list','analysis']

# Filtering list for section_name
section_name_list = ['business', 'national', 'world', 'u.s.' , 'politics', 'opinion', 'tech', 'science',  'health']
news_desk_list = ['business', 'national', 'world', 'u.s.' , 'politics', 'opinion', 'tech', 'science',  'health', 'foreign']

In [14]:
current_date = '2018-08-08'
from datetime import datetime

current_article_str = ''   
## Adding article column to dataframe

df["articles"] = ''
count_articles_filtered = 0
count_total_articles = 0
count_main_not_exist = 0               
count_unicode_error = 0     
count_attribute_error = 0

In [ ]:
for year in years:
    for month in months:
        file_str = '' + str(year) + '-' + '{:02}'.format(month) + '.json'